*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'LogoFont'; 
  src: url('../copycat_font/other/Logo.otf'); 
}
@font-face {
  font-family: 'NavbarFont'; 
  src: url('../copycat_font/other/Navigation\ Links.ttf'); 
}


@font-face {
  font-family: 'LatestRemakeText'; 
  src: url('../copycat_font/latest-remake/latest-remake-text.TTF'); 
}
@font-face {
  font-family: 'LatestRemakeText-Artist'; 
  src: url('../copycat_font/latest-remake/artist-and-song-title.ttf'); 
}
@font-face {
  font-family: 'LatestRemakeText-DollarSign'; 
  src: url('../copycat_font/latest-remake/dollar-sign.ttf'); 
}
@font-face {
  font-family: 'LatestRemakeText-Price'; 
  src: url('../copycat_font/latest-remake/price.TTF'); 
}


@font-face {
  font-family: 'ChartToppingSec'; 
  src: url('../copycat_font/product-list/unlock-the-chart-topping-secrets.ttf'); 
}
@font-face {
  font-family: 'SongTitle-ProductCard'; 
  src: url('../copycat_font/product-list/song-title-Product-list.ttf'); 
}
@font-face {
  font-family: 'ArtistName-ProductCard'; 
  src: url('../copycat_font/product-list/artist-name-product-list.ttf'); 
}
@font-face {
  font-family: 'Price-ProductCard'; 
  src: url('../copycat_font/product-list/price-and-dollar-sign-product-list.ttf'); 
}

:root{ 
    --primary-black-color:#141414;
    --midnight-blue: #383838;
    --lime-green: #bcef24;
}
a{
    text-decoration: none;
    cursor: pointer!important;
}
body{
    scroll-behavior: smooth;
    font-family: var(--primary-font);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
    color: #1c1c1c;
}

body.dark-mode {
    background-color: #1c1c1c;
    color: #ffffff;
}
li{
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #171717;
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    font-family: 'NavbarFont';
    border-bottom: 3px solid #1C1C1C;
}

/* .logo {
  font-family: 'LogoFont';
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-top: 6px;
}
.logo a{
    color: var(--primary-black-color);
} */
.logo img{
    height: 2.1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    /* margin-bottom: .4rem; */
    flex-direction: row;
    justify-content: center;
    margin-left: 2rem;
}
.nav-links .active{
  border-bottom: 2px solid #fff;
}
.nav-links li {
    margin: 0 15px;
}
.nav-socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 12px;
}
.nav-socials i{
    color: #38373782;
    font-size: 1.2rem;
    padding: 0 2px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    padding: 26px 4px;
    letter-spacing: 1px;
    font-weight: 800;
    color: var(--primary-black-color);
    transition: all ease-in-out .1s;
}

.nav-links li a:hover {
    transition: all ease-in-out .1s;
    color: #fff;
}

.hover-underline-animation {
  position: relative;
  z-index: 202;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--theme-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: 202;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  z-index: 202;

}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.hamburger .bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 2px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .logo img{
        height: 1.4rem;
    }    
    .nav-links {
        position: absolute;
        top: 63px;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #252525;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }
    
    .nav-links.active {
        display: flex;
    }
}

/* -------------------------------- */


@media (min-width: 1800px) {
     .main{
        zoom: 109%;
     }
    .hero-section{
        height: 56vh;
        margin-top: 4vw;
        /* transform: scale(1.1); */
    }
   
    .hero-left{
        margin-bottom: -12px;
    }
    footer{
        transform: scale(1.103);
    }
    #button-sontainer{
        margin: 4rem;
    }
}
@media(max-width:1350px){
    .hero-section-heading h2 br{
        display: none;
    }
}
@media(max-width:1220px){
    .recent-remakes {
        max-height: 100px; 
    }
}
@media(max-width:1090px){
    .recent-remakes {
        max-height: 70px; 
    }
}
@media(max-width:690px){
    .hero-section{
        height: 180vh;
        padding-bottom: 2rem;
    }
    .hero-left video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .hero-section h6{
        padding: 8px 12px;
    }
    .hero-section-heading h2 {
        font-size: 5vw;
        padding: 0 12px;
    }
    .recent-remakes {
        max-height: 300px; 
        width: 90%;
        margin: 0 18px;
    }
    .hero-right {
        flex: 1;
        padding: 0px;
        color: var(--primary-black-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-section-latest-pack {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }
    .hero-section-latest-pack .hero-section-latest-pack-img img {
        height: 80vw;
        width: 90vw;
    }
    .hero-section-latest-pack h3 {
        margin-bottom: 2px;
        font-size: 4.8vw;
        text-align: start;
        padding: 8px 12px;
        color: #fff;
    }
    
    .hero-section-latest-pack h5 {
        font-size: 3vw;
        text-align: start;
        padding: 0 10px;
        color: #fff;
    }
    .hero-section-latest-pack .sale-tag{
        text-align: start;
        padding: 0 10px;
    }
    .hero-section-latest-pack .hero-section-latest-pack-price {
        border: 2px solid #141414;
        padding: 6px 20px;
        margin-top: 10px;
        width: 55%;
        margin-left: 12px;
        margin-bottom: 10px;
    }

    .hero-section-latest-pack h4{
        font-weight: 600;
        font-size: 5vw;
    }
    .hero-section-latest-pack s{
        margin: 0 20px;
    }
    .hero-section-latest-pack .dollar-sign{
        font-size: 5vw;
        font-weight: 200;
        margin-right: 2px;
    }
    .hero-section-latest-pack .sale-tag{
        font-size: 12px;
        color: #8c8c8c;
    }

    .recent-remake-card h2 {
        font-size: 10px;
    }
    
    .recent-remake-card h4 {
        font-size: 8px;
        padding-top: 4px;
    }
    
    .recent-remake-content {
        margin-right: 0vw;
    }

}

/* -------------------------------- */

.active-button {
    background-color: #afadad6c;
}
#button-container{
    margin: 2rem;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#button-container button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth fade-in/out */
  }

  .content.active {
    display: flex; /* Ensure the container is visible */
    opacity: 1;    /* Fully visible */
  }

  #button-container button {
      padding: 12px 22px;
      cursor: pointer;
      color: #fff;
      font-size: 12px;
      background-color: #171717;
    }
    #button-container hr{
        width: 1px;
    }
    
  #button-container button.active-button {
    background-color: #171717ea;
    color: white;
  }

  #button-container button:hover {
    background-color: #444444;
    color: white;
  }



@media(max-width:600px){
    .toggle-button{
        top: 14px;
        right: 60px!important;
    }
    #button-container {
        margin: 1.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #button-container button{
        padding: 10px 20px;
        margin: 6px 6px;
    }
    body.dark-mode .nav-links {
        background-color: #1c1c1c;
    }
}

/* -------------------------------- */